
  
  .header-toggle {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;

    
  }
  
   .header-thumb {
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
  }
  
  .active {
    background-color: #0000007d;
  }

  
 .active .header-thumb {
    transform: translateX(30px);
    background-color: #000;
  }

  .dark {
    background-color: rgba(128, 128, 128, 0.658);
  }

  /* =========================================================== */

  .team {
    position: relative;
  }
  
  .team__left-photo {
    transform: rotate(270deg);
  }
  
  .team__right-photo {
    transform: rotate(90deg);
  }
  
  .team__hidden {
    display: none;
  }
  
  .team__title {
    margin: 0 0 36px 0;
    font-family: Montserrat Alternates;
    color: #000;
    font-size: 16px;
    text-align: center;
  }
  
  .team__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .team__btn {
    width: 40px;
    height: 80px;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .team__btn--left {
    left: -50px;
  }
  
  .team__btn--right {
    right: -50px;
  }
  
  @media (max-width: 768px) {
    .team__btn {
      width: 30px;
      height: 60px;
    }
  
    .team__btn--left {
      left: -30px;
    }
  
    .team__btn--right {
      right: -30px;
    }
  
    .team__flex {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 600px;
      margin-left: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .team__btn {
      width: 25px;
      height: 50px;
    }
  
    .team__btn--left {
      left: -20px;
    }
  
    .team__btn--right {
      right: -20px;
    }
  
    .team__flex {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      max-width: 600px;
      margin-left: 10px;
    }
  }
  
  .team__icon {
    stroke: #000000;
    fill: #ffffff;
  }
  
  .team__photos {
    margin: 0 100px 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team__img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    transition-duration: 100s;
  }
  
  .team__img:hover {
    transform: scale(50);
  }
  
  .team__names {
    margin: 0 0 20px 0;
    font-family: Montserrat Alternates;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team__student-name {
    color: #000;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat Alternates;
  }
  
  .team__work-list {
    margin: 0 0 24px 0;
    font-family: Montserrat Alternates;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team__work-text {
    color: #000;
    font-size: 12px;
    text-align: center;
  }
  
  .team__list {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }
  
  .team__page {
    width: 18px;
    height: 3px;
    border-radius: 2px;
    background-color: #d9d9d9;
  }
  
  .team__page--curr {
    width: 30px;
    height: 3px;
    background-color: #797979;
  }
  
  .team__img--tima {
    transform: translate(0px, -30px);
  }
  
  .team__img--boris {
    transform: scale(80%) translate(-2px, -15px);
  }